.gallery-blocks {
    margin-bottom: 3rem;
    .first-image {
        margin-bottom: 1rem;
        img {
            width: 100%;
        }
    }
    .gallery-group {
        margin: 0 -0.5rem;
        .gallery-group-item {
            padding: 0 0.5rem;
            margin-bottom: 1rem;
            &.column2 {
                width: 50%;
            }
            &.column3 {
                width: 50%;
                @include media(768px) {
                    width: 33.3333%;
                }
            }
            &.column4 {
                width: 50%;
                @include media(768px) {
                    width: 33.333%;
                }
                @include media(1200px) {
                    width: 25%;
                }
            }
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}