<div id="menu-mobile">
  <div class="in_menu-mobile">
    <div class="container">
      <nav
        id="site-navigation"
        aria-label="Main navigation"
        class="main-navigation"
      >
        <div class="container">
          <div class="inside-navigation grid-container grid-parent">
            <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
              <div class="mega-menu-toggle">
                <div class="mega-toggle-blocks-left"></div>
                <div class="mega-toggle-blocks-center"></div>
                <div class="mega-toggle-blocks-right">
                  <div
                    class="mega-toggle-block mega-menu-toggle-block mega-toggle-block-1"
                    id="mega-toggle-block-1"
                    tabindex="0"
                  >
                    <span
                      class="mega-toggle-label"
                      role="button"
                      aria-expanded="false"
                      ><span class="mega-toggle-label-closed">MENU</span
                      ><span class="mega-toggle-label-open">MENU</span></span
                    >
                  </div>
                </div>
              </div>
              <ul
                id="mega-menu-primary"
                class="mega-menu max-mega-menu mega-menu-horizontal"
                
              >
                <li
                  class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-menu-item-18 mega-with-button js"
                  id="mega-menu-item-18"
                  data-columns="4"
                >
                  <a
                    class="mega-menu-link"
                    href="https://dev.marameodesign.com/services/"
                    tabindex="0"
                    data-wpel-link="internal"
                    rel="noopener noreferrer"
                    >Our services</a
                  ><button
                    class="mega-indicator mega-indicator-button top-level d-xl-none"
                    aria-controls="mega-menu-item-18_ul"
                    aria-expanded="false"
                  >
                    <span class="sr-only">Our services submenu</span>
                  </button>
                  <ul class="mega-sub-menu" id="mega-menu-item-18_ul">
                    <li class="mega-menu-row" id="mega-menu-18-0">
                      <ul class="mega-sub-menu">
                        <li
                          class="mega-menu-column mega-menu-columns-3-of-12"
                          id="mega-menu-18-0-0"
                        >
                          <ul class="mega-sub-menu">
                            <li
                              class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-2"
                              id="mega-menu-item-custom_html-2"
                            >
                              <div class="textwidget custom-html-widget">
                                <h2>
                                  strategy
                                </h2>
                              </div>
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-113"
                              id="mega-menu-item-113"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/strategy-services/web-accessibiliy/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >web accessibiliy</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-114"
                              id="mega-menu-item-114"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/strategy-services/content-strategy/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >content strategy</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-115"
                              id="mega-menu-item-115"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/strategy-services/digital-strategy/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >digital strategy</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          class="mega-menu-column mega-menu-columns-3-of-12"
                          id="mega-menu-18-0-1"
                        >
                          <ul class="mega-sub-menu">
                            <li
                              class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-3"
                              id="mega-menu-item-custom_html-3"
                            >
                              <div class="textwidget custom-html-widget">
                                <h2>
                                  website design
                                </h2>
                              </div>
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-112"
                              id="mega-menu-item-112"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-design/ux-ui-design/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >UX / UI design</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-111"
                              id="mega-menu-item-111"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-design/website-redesign/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >website redesign</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          class="mega-menu-column mega-menu-columns-3-of-12"
                          id="mega-menu-18-0-2"
                        >
                          <ul class="mega-sub-menu">
                            <li
                              class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-4"
                              id="mega-menu-item-custom_html-4"
                            >
                              <div class="textwidget custom-html-widget">
                                <h2>
                                  web development
                                </h2>
                              </div>
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-110"
                              id="mega-menu-item-110"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-development/drupal-development/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >drupal development</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-109"
                              id="mega-menu-item-109"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-development/wordpress-development/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >wordpress development</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-108"
                              id="mega-menu-item-108"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-development/platform-migrations/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >platform migrations</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-123"
                              id="mega-menu-item-123"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-development/api-integrations-2/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >API integrations</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-107"
                              id="mega-menu-item-107"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/web-development/api-integrations/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >whilte label development</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          class="mega-menu-column mega-menu-columns-3-of-12"
                          id="mega-menu-18-0-3"
                        >
                          <ul class="mega-sub-menu">
                            <li
                              class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-item-custom_html-5"
                              id="mega-menu-item-custom_html-5"
                            >
                              <div class="textwidget custom-html-widget">
                                <h2>
                                  support
                                </h2>
                              </div>
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-106"
                              id="mega-menu-item-106"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/support-maintenance/care-plans/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >care plans</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-105"
                              id="mega-menu-item-105"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/support-maintenance/drupal-website-audits/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >drupal website audits</a
                              >
                            </li>
                            <li
                              class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-104"
                              id="mega-menu-item-104"
                            >
                              <a
                                class="mega-menu-link"
                                href="https://dev.marameodesign.com/services/support-maintenance/wordpress-website-audits/"
                                data-wpel-link="internal"
                                rel="noopener noreferrer"
                                >wordpress website audits</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li
                  class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-17"
                  id="mega-menu-item-17"
                >
                  <a
                    class="mega-menu-link"
                    href="https://dev.marameodesign.com/case-studies/"
                    tabindex="0"
                    data-wpel-link="internal"
                    rel="noopener noreferrer"
                    >case studies</a
                  >
                </li>
                <li
                  class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-811"
                  id="mega-menu-item-811"
                >
                  <a
                    class="mega-menu-link"
                    href="https://dev.marameodesign.com/insight/"
                    tabindex="0"
                    data-wpel-link="internal"
                    rel="noopener noreferrer"
                    >insights</a
                  >
                </li>
                <li
                  class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-20"
                  id="mega-menu-item-20"
                >
                  <a
                    class="mega-menu-link"
                    href="https://dev.marameodesign.com/our-team/"
                    tabindex="0"
                    data-wpel-link="internal"
                    rel="noopener noreferrer"
                    >About us</a
                  >
                </li>
                <li
                  class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-19"
                  id="mega-menu-item-19"
                >
                  <a
                    class="mega-menu-link"
                    href="https://dev.marameodesign.com/our-impact/"
                    tabindex="0"
                    data-wpel-link="internal"
                    rel="noopener noreferrer"
                    >our impact</a
                  >
                </li>
                <li
                  class="mega-get-in-touch mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-23 get-in-touch"
                  id="mega-menu-item-23"
                >
                  <a
                    class="mega-menu-link"
                    href="https://dev.marameodesign.com/lets-get-started/"
                    tabindex="0"
                    data-wpel-link="internal"
                    rel="noopener noreferrer"
                    >Get in touch</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- .inside-navigation -->
        </div>
      </nav>
      <!-- #site-navigation -->
    </div>
  </div>
</div>
