.post-tag {
    a {
        color: $light-pink;
        text-transform: uppercase;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
        &:last-child {
            .comma {
                display: none;
                ;
            }
        }
    }
}